<footer>
  
  <div class="grid-x">
  <div class="cell large-auto">
   <h4>Contact Info</h4>
   <hr>
   
   <a href="#"><span>Email:</span> EduMate247@gmail.com</a>
   <a href="#"><span>Address:</span> NorthSouth University</a>
  </div>
  <div class="cell large-auto">

   <h4>Site Map</h4>
   <hr>
   <a href="/about">About Us</a>
   <a href="/about">Contact Us</a>
   
  </div>
  <div class="cell large-auto">

   <h4>Social Media</h4>
   <hr>
   <a href="#">Facebook Page</a>
   <a href="#">Twitter Page</a>
   
   
  </div>

  
</footer>



