<footer>
  
  <div class="grid-x">
  <div class="cell large-auto">
   <h4>Contact Info</h4>
   <hr>
   
   <a href="#"><span>Email</span> poushy00116@gmail.com</a>
   <a href="#"><span>Address</span> Uttara sec-11</a>
  </div>
  <div class="cell large-auto">

   <h4>Site Map</h4>
   <hr>
   <a href="/about">About Us</a>
   <a href="/about">Contact Us</a>
   
  </div>
  <div class="cell large-auto">

   <h4>Social Media</h4>
   <hr>
   <a href="#">Facebook</a>
   <a href="#">Twitter</a>
   
   
  </div>

  
</footer>



