<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    
    <title>{{ title }}</title>
    <link rel="stylesheet" href="stylesheets/foundation.css">
    <link rel="stylesheet" href="stylesheets/app.css">
    <link rel="stylesheet" href="stylesheets/mystyle.css">
  </head>
  <body>
    <!--Big screen Navigation ---->
    
   {{{ body }}}
    
    <!---Head section -->
    <!--Main section-->

    <script src="javascripts/vendor/jquery.js"></script>
    <script src="javascripts/vendor/what-input.js"></script>
    <script src="javascripts/vendor/foundation.js"></script>
    <script src="javascripts/app.js"></script>
  </body>
</html>
