
<!-- Navigation bar -->

    
    
<div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="example-menu"></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="example-menu">
  <div class="top-bar-left">
    
      <h4 class="menu-text">Edu Mate</h4>
      
    
  </div>
  <div class="top-bar-right">
    <ul class="dropdown menu" data-dropdown-menu>
      
      <li><a href="/about">About Us</a></li>
      <li><a href="/class">Classes</a></li>
      <li><a href="/contact">Contact Us</a></li>
    </ul>
  </div>
</div>

<!-- Hero-->
<section class="hero">
  <h1>Welcome to <span>Edu Mate</span></h1>
  <p>We are your studdy buddy to help you with your courses.
     Get lectures from our online classes and track your progress.
     Sign in today and start learning.
  </p>
  <a class="button large" href="#">Sign In</a>

</section>

<!--Main-->

<section class="main">

</section>

<!---footer-->
<footer>



</footer>