{{> navigation}}
<section>

<h2>{{student.first_name}}'s Classes</h2>
<table>
    <thead>
        <tr>
            <th>Class ID</th>
            <th>Class Name</th>
            <th>Lessons</th>
            
            
        </tr>
    </thead>
    <tbody>
        {{#each student.classes}}
        <tr>
            <td>{{class_id}}</td>
            <td>{{class_title}}</td>
            <td><a href="/class/{{class_id}}/lessons">View Lessons</a></td>
         
            
        </tr>
        {{/each}}
          
    </tbody>
</table>
<a href="/students/classes/grades" class="button">View Grades</a> 
</section>