{{> navigation}}
<section>

<h2>{{student.first_name}}'s Grades</h2>
<table>
    <thead>
        <tr>
            <th>Quiz</th>
            <th>Mid</th>
            <th>Assignment</th>
            <th>Final</th>
            
            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a class="button" href="/students/classes/quiz">View Quiz Grades </a></td>
            <td><a class="button" href="/students/classes/mid">View Mid Grades </a></td>
            <td><a class="button" href="/students/classes/assignment">View Assignment Grades </a></td>
            <td><a class="button" href="/students/classes/final">View Final Grades </a></td>
        </tr>
    </tbody>
</table>
</section>