{{> navigation}}
<section>
    {{#if success_msg}}
        <div class="callout success" data-closable="slide-out-right" >
            
           <p><i class="fi-alert"></i> {{success_msg}} </p>
            
            <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
               <span aria-hidden="true">&times;</span>
            </button>

            
        </div>    
        {{/if}}
<h2>{{class.title}}</h2>
<table>
    <thead>
        <tr>
            <th>Student_Username</th>
            <th></th>
           
        </tr>
    </thead>
    <tbody>
        {{#each class.enrolled_students}}
        <tr>
            <td>{{student_username}}</td>
            
            <td><a href="/instructors/classes/{{class_id}}/grades/new">Add Grade</a></td>
            
            
        </tr>
        {{/each}}
    </tbody>
</table>
</section>